body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  min-height: 100vh;
  background-color: lightpink;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 50%;
  height: 5vh;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px;
  /* font-weight: 200; */
}
.search-btn {
  background: lightcoral;
  margin: 0 10px;
  /* height: 5vh; */
  padding: 17px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  text-align: center;
  cursor: pointer;
}
.recipe-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
